@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

p {
    color: #666e74;
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

header {
    border-bottom: 4px solid #f0f0f0;
}

.header {
    display: flex;
    justify-content: space-between;
}

.small-header .nav ul {
    padding: 0;
    margin: 10px 0;
}

.small-header .nav ul li {
    list-style: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    color: #919eaa;
    padding: 5px;
}

.small-header .nav ul li a {
    text-decoration: none;
    color: #919eaa;
}

.small-header .social-icons {
    margin: 5px 0;
    font-size: 23px;
}

.small-header .social-icons i {
    margin: 5px;
}

.small-header .social-icons a {
    color: #919eaa;
}

.hr {
    border-top: 1px solid #f3f3f3;
}

.main-header .header-text {
    font-size: 50px;
    color: #9ba7b2;
}

.main-header .nav-bar li {
    list-style: none;
    display: inline-block;
}

.main-header .nav-bar li a {
    text-decoration: none;
    color: black;
    padding: 28px 10px 10px;
    margin-left: 40px;
}


.nav-bar a.active {
    border-top: 4px solid #8fbe32;
    color: #8fbe32;
}

.main-header .nav-bar li i {
    padding: 10px;
    border-radius: 50%;
    color: #aaaaaa;
    background-color: #f3f3f3;
}

.slider img {
    width: 100%;
}

.services-section {
    display: flex;
    justify-content: space-between;
    color: #666e74;
}

.services {
    padding: 45px 40px 50px 0;
}

.services h1 {
    font-size: 20px;
    margin: 0;
}

.services p {
    font-size: 17px;
    margin-top: 10px;
}


.services .service-icon i {
    font-size: 50px;
}

.work-section {
    display: flex;
    margin-top: 15px;
}

.work-section .work {
    width: 20%;
}

.work-section .gallery-parent {
    width: 80%;
}

.work-section .work h1 {
    font-size: 23px;
    font-weight: normal;
    margin-top: 25px;
}

.work-section .work p {
    font-size: 15px;
}

.green-links {
    text-decoration: none;
    color: #8fbe32;
}

.categories .cat-heading {
    font-size: 20px;
    font-weight: normal;
}

.categories ul {
    margin-left: -39px;
}

.categories ul li {
    list-style-type: none
}

.categories ul li a {
    text-decoration: none;
    color: #95a3a6;
}

.gallery-parent {
    margin: 20px 0 30px 50px;
}

.row {
    display: flex;
    justify-content: flex-end;
}

.gallery {
    padding-left: 30px;
    width: 100%;
}

.gal-img img {
    width: 100%;
}

.gal-span {
    color: #0093d0;
}

.purchase {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.purchase h1 {
    font-size: 25px;
}

.purchase-btn button {
    margin-top: 10px;
    padding: 15px 40px;
    border: none;
    color: #fff;
    background-color: #8fbe32;
    transition: background-color 1s, color 1s;
}

.purchase-btn button:hover {
    color: #8fbe32;
    background-color: #fff;
    border: 1px solid #8fbe32;
}

.purchase-btn button:active {
    opacity: 0.5;
}

.feature-card {
    display: flex;
    margin: 50px 0;
}

.feature {
    display: flex;
    justify-content: space-between;
}

.features-text {
    width: 60%;
}

.features-text h1 {
    font-size: 25px;
    font-weight: normal;
}

.features-text p {
    font-size: 17px;
}

.tv img {
    margin-right: 30px;
    margin-top: 60px;
}

.hr-right-margin {
    margin: 0 40px 0 10px;
}

/* .feature .tv {
    margin: 60px 20px 0 20px;
}

.hr-right-margin {
    margin: 0 42px 0 20px;
} */

.latest-blogs {
    display: flex;
    justify-content: space-between;
    margin: 25px 0 70px;
}

.blogs-card>h1 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

.blog {
    width: 32.3%;
}

.blog-img img {
    width: 100%;
}

.blog-text h1 {
    font-size: 18px;
}

.quote-section {
    padding-bottom: 70px;
}

.quote-img {
    margin: 0 auto;
    width: 85px;
}

.quote-img img {
    margin-top: -61px;
}

.quote-card {
    text-align: center;
}

.quote-title {
    font-size: 13px;
    margin-top: 35px;
}

.quote-text {
    font-size: 30px;
    color: black;
}

.quote-author {
    color: black;
    font-size: 20px;
}

/* //////////////////////////////////// Footer ////////////////////////////////////////// */
footer {
    background-color: #202020;
    padding-top: 50px;
}

.footer-wrapper {
    border-bottom: 3px solid #252627;
}

.footer-contact {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.heading {
    width: 385px;
    text-align: center;
    margin-bottom: 20px;
}

.heading h1 {
    font-size: 15px;
    text-transform: uppercase;
    color: #c4c6c8;
    padding: 10px;
    margin: 0;
    border-bottom: 4px solid #252627;
}

.contact-card {
    padding: 40px 25px 22px 0;
    width: 385px;
}

.contact-card-1 p {
    font-size: 18px;
    margin-bottom: 20px;
}

.contact-card-2 {
    position: relative;
    top: 9px;
    z-index: 1;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
}

.contact-card-2 i {
    position: absolute;
    top: 0;
    left: 150px;
    z-index: -1;
    color: #333333;
    font-size: 100px;
}

p.contact-at {
    font-size: 30px;
    color: #afb4b7;
    margin-bottom: 20px;
}

.change-color {
    color: #afb4b7;
}

.contact-link a {
    color: #afb4b7;
    text-decoration: none;
}

.bold {
    font-weight: bold;
    letter-spacing: 0.1em;
}

.fa-skype {
    background-color: #fff;
    color: #24a9de;
    background: none;
}

.contact-number {
    color: #00affd;
}

.contact-card-1 .social-icons {
    margin: 5px 0;
    font-size: 23px;
}

.contact-card-1 .social-icons i {
    margin: 0 15px;
}

.contact-card-1 .social-icons a {
    color: #fff;
}

.flicker-images {
    display: flex;
    justify-content: center;
}

.flicker-img img {
    margin: 0 1px;
}

.copyright {
    display: flex;
    justify-content: space-between;
    padding: 45px 0 20px;
}

.copyright p {
    margin: 0;
}

.copyright-title p {
    font-size: 30px;
}

/* ///////////////////////////// Blogs Page ///////////////////////////////////// */

.blog-section-wrapper .date h1 {
    width: 150px;
    margin: 30px auto;
    padding: 10px 16px;
    text-align: center;
    color: #aaaaaa;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
}

.blog-section-wrapper {
    background-image: url(../assets/images/pipe.gif);
    background-repeat: repeat-y;
    background-position: center;
}

.blog-cards-parent {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 900px;
    margin: 0 auto;
}

.blog-cards-wrapper {
    width: 400px;
    margin-bottom: 20px;
}

/* .left-cards {
    margin-right: 0;
} */

.blog-card {
    border: 1px solid #d7dce7;
    position: relative;
}

.left-cards .round-img {
    position: absolute;
    top: 17px;
    right: -60px;
    ;
}

.right-cards .round-img {
    position: absolute;
    top: 17px;
    left: -60px;
}

.blog-wrap-container {
    margin: 10px 10px 0;
}

.blogs-page-img img {
    width: 100%;
    /* margin: 10px 10px 0; */
}

.blog-comments-wrapper,
.blog-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog-comments-wrapper {
    margin: 20px 0;
}

.blog-comments-wrapper p {
    text-align: center;
    padding-top: 9px;
    color: #95a2aa;
    font-weight: bold;
}

.blog-date .number p {
    color: #0093d0;
    font-size: 30px;
    padding: 10px 11px;
}

.blog-date .year-month p {
    color: #95a2aa;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 11px;
}

.wrap-btn {
    width: 195px;
    height: 42px;
    background-color: #e9e9e9;
}

.blog-card-2 {
    margin-top: 35px;
}

.blog-card-4 {
    margin-top: 60px;
}

.blogs-pages {
    width: 347px;
    margin: 90px auto;
}

.blogs-pages ul li {
    display: inline-block;
    border: 1px solid #e5e5e5;
    padding: 12px 16px;
}

.blogs-pages ul li a {
    text-decoration: none;
    color: #00affd;
}

/* //////////////////////////////////// Feature Page //////////////////////////////////////////////// */
.feature-heading {
    color: #424748;
    font-size: 23px;
}

.feature-heading span {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bolder;
}